{% extends 'home-7.html' %}
{% block slider %}{% endblock %}
{% block contenido %}
    <div id="nz-content" class='content nz-clearfix padding-false'>
        <div class='container page-full-width'>
            <!-- post start -->
            <div id="post-2043" class="post-2043 page type-page status-publish hentry">
                <section class="page-content nz-clearfix">
                    <div class="container">
                        <div  class="nz-section horizontal autoheight-false animate-false full-width-false "   data-animation-speed="35000" data-parallax="false" style="padding-top:25px;padding-bottom:75px;">
                                    <div class="container">
                                        <div class="nz-row">
                                            <div class="col vc_col-sm-12 col12  col-animate-false" style="" data-effect="fade" data-align="left" >
                                                <div class="col-inner" style="">
                                                    <div class="sep-wrap left nz-clearfix">
                                                        <div class="nz-separator solid" style="border-bottom-color:#eeeeee;width:100%;border-bottom-style:solid;margin-bottom:75px;">&nbsp;</div>
                                                    </div>
                                                    <div class="nz-accordion " data-collapsible=false>
                                                        <div class="false toggle-title nz-clearfix">
                                                            <span class="toggle-title-header">
                                                                <span>Misión</span>
                                                            </span>
                                                            <span class="arrow"></span>
                                                        </div>
                                                        <div id="we-create-awesome-websites-for-your-business" class="toggle-content nz-clearfix">
                                                        </p>
                                                        {{ mision|safe }}
                                                        <p>
                                                        </div>
                                                        <div class="false toggle-title nz-clearfix">
                                                            <span class="toggle-title-header">
                                                                <span>Visión</span>
                                                            </span>
                                                            <span class="arrow"></span>
                                                        </div>
                                                        <div id="only-creative-design-and-development" class="toggle-content nz-clearfix">
                                                        </p>
                                                        {{ vision|safe }}
                                                        <p>
                                                        </div>
                                                        <div class="false toggle-title nz-clearfix">
                                                            <span class="toggle-title-header">
                                                                <span>Objetivos</span>
                                                            </span>
                                                            <span class="arrow"></span>
                                                        </div>
                                                        <div id="lets-start-creating-websites-together-today" class="toggle-content nz-clearfix">
                                                        </p>
                                                        {{ objetivos|safe }}

                                                        <p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
